<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="ugh, hi." name="description">
    <meta content="Makeup Webcam" name="title">
    <title>Monitoring Vehicle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/player.css">
</head>
<body>
<!--<h1>Custom HTML5 Video Player Demo</h1>-->

<div class="container">
    <div id='player'>
        <video autoplay="true" id="videoElement" muted></video>
        <img id="photo">
        <div id="drawableContainer">
            <canvas id="drawableCanvas"></canvas>
        </div>
        <div id='controls'>
            <progress id='progress-bar' min='0' max='100' value='0'>0% played</progress>
            <span id='timelabel' style="color: white">00:00:00</span>
            <span id='btnReplay' class='replay' title='replay' accesskey="R" onclick='replayVideo();'><i class="fas fa-redo-alt"></i></span>
            <span id='btnPlayPause' class='play' title='play' accesskey="P" onclick='playPauseVideo();'><i class="fas fa-play"></i></span>
            <span id='btnStop' class='stop' title='stop' accesskey="X" onclick='stopVideo();'><i class="fas fa-stop"></i></span>
            <input type="range" id="volume-bar" title="volume" min="0" max="1" step="0.1" value="1" style="display: none">
            <button id='btnMute' class='mute' title='mute' onclick='muteVolume();' style="display: none">Mute</button>
            <button id='btnFullScreen' class='fullscreen' title='toggle full screen' accesskey="T"
                    onclick='toggleFullScreen();' style="display: none">[&nbsp;&nbsp;]
            </button>
        </div>
        <div id="control-panel" style="margin-top: 12px">
            <input id="video-input" type="file" accept="video/*"/>
            <span>
                <input id="toggle-mask" type="checkbox">
                <label for="toggle-mask">Show mask</label>
            </span>
            <canvas id="canvasElement" width=512 height=512 style="display: none"></canvas>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="../static/js/canvas_drawer.js"></script>
<script src="../static/js/player.js"></script>
<script src="../static/js/main.js"></script>

<!--        <script src="{{ url_for('static', filename='js/main.js') }}"></script>-->
</body>
</html>
