<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="ugh, hi." name="description">
    <meta content="Makeup Webcam" name="title">
    <title>Monitoring Vehicle</title>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="../static/css/player.css">
</head>
<body>
<!--<h1>Custom HTML5 Video Player Demo</h1>-->

<div class="container-fluid">
    <div class="row">
        <div id="app-tittle" class="col-md-12">
            Web App
<!--            Ước lượng mật độ và mức độ <br>di chuyển của phương tiện giao thông-->
        </div>
        <div class="col-md-2 info-panel left">
            <div class="font-weight-bold text-dark">Performance:</div>
            <div id="fps-info">FPS: <span>-</span></div>
            <div id="cls-fps-info">Classification FPS: <span>-</span></div>
            <div id="count-fps-info">Counting FPS: <span>-</span></div>
            <div id="bs-fps-info">Moving Estimation FPS: <span>-</span></div>
            <hr class="my-6"/>
            <div id="counting-result">
                <div class="font-weight-bold text-dark">Counting result:</div>
                <div class="total">Total count: <span>-</span></div>
                <div class="ml-3 count-label 2-wheel">2-wheel: <span>-</span></div>
                <div class="ml-3 count-label 4-wheel">4-wheel: <span>-</span></div>
                <div class="ml-3 count-label priority">Priority: <span>-</span></div>
            </div>
            <hr class="my-6"/>
            <div id="predict-result">
                <div class="font-weight-bold text-dark">Prediction:</div>
                <div class="count-score">Count score: <span>-</span></div>
                <div class="moving-rate">Moving rate: <span>-</span>%</div>
                <div class="status-label">Status: <span class="pred-label">-</span></div>
                <div class="label">Label: <span class="pred-label">-</span></div>
            </div>
        </div>

        <div class="col-md-8">
            <div id='player'>
                <video autoplay="true" id="videoElement" muted></video>
                <img id="photo">
                <div id="drawableContainer">
                    <canvas id="drawableCanvas"></canvas>
                </div>
                <div id='controls'>
                    <progress id='progress-bar' min='0' max='100' value='0'>0% played</progress>
                    <span id='timelabel' style="color: white">00:00:00</span>
                    <span id='btnReplay' class='replay' title='replay' accesskey="R" onclick='replayVideo();'><i class="fas fa-redo-alt"></i></span>
                    <span id='btnPlayPause' class='play' title='play' accesskey="P" onclick='playPauseVideo();'><i class="fas fa-play"></i></span>
                    <span id='btnStop' class='stop' title='stop' accesskey="X" onclick='stopVideo();'><i class="fas fa-stop"></i></span>
                    <input type="range" id="volume-bar" title="volume" min="0" max="1" step="0.1" value="1" style="display: none">
                    <button id='btnMute' class='mute' title='mute' onclick='muteVolume();' style="display: none">Mute</button>
                    <button id='btnFullScreen' class='fullscreen' title='toggle full screen' accesskey="T"
                        onclick='toggleFullScreen();' style="display: none">[&nbsp;&nbsp;]
                    </button>
                </div>
                <div id="control-panel" style="margin-top: 12px">
                    <input id="video-input" type="file" accept="video/*"/>
                    <span class="mr-3">
                        <input id="toggle-mask" type="checkbox">
                        <label for="toggle-mask">Show mask</label>
                    </span>
                    <span class="mr-3">
                        <input id="toggle-show-box" type="checkbox" {% if model_data.config.heatmap_only %}disabled{% else %}checked{% endif %}>
                        <label for="toggle-show-box">Show boxes</label>
                    </span>
                    <span class="mr-3">
                        <input id="toggle-show-diff" type="checkbox">
                        <label for="toggle-show-diff">Show difference</label>
                    </span>
                    <span class="mr-3">
                        <input id="toggle-show-foreground" type="checkbox">
                        <label for="toggle-show-foreground">Show foreground</label>
                    </span>
                    <canvas id="canvasElement" width=512 height=512 style="display: none"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-2 info-panel right">
            <div class="font-weight-bold text-dark">Classification model:</div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="crowd_model" id="crowd_model" value="crowd_model" {% if model_data.crowd_model == 'crowd_model' %}checked{% endif %}>
              <label class="form-check-label text-dark" for="crowd_model">
                VGG16 1
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="crowd_model" id="crowd_model_focalbin" value="crowd_model_focalbin" {% if model_data.crowd_model == 'crowd_model_focalbin' %}checked{% endif %}>
              <label class="form-check-label text-dark" for="crowd_model_focalbin">
                VGG16 2
              </label>
            </div>
            <hr class="my-12"/>
            <div class="font-weight-bold text-dark">Counting model:</div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="count_model" id="detect_model" value="detect_model" {% if model_data.count_model == 'detect_model' %}checked{% endif %}>
              <label class="form-check-label text-dark" for="detect_model">
                Hourglass-52 Detect
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="count_model" id="count_model_1stack" value="count_model_1stack" {% if model_data.count_model == 'count_model_1stack' %}checked{% endif %}>
              <label class="form-check-label text-dark" for="count_model_1stack">
                Hourglass-52 Count
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="count_model" id="count_model_2stack" value="count_model_2stack" {% if model_data.count_model == 'count_model_2stack' %}checked{% endif %}>
              <label class="form-check-label text-dark" for="count_model_2stack">
                Hourglass-104 Count
              </label>
            </div>
            <hr class="my-12"/>
            <div class="font-weight-bold text-dark">Confidence:</div>
            <label class="form-check-label text-dark" for="slider-classification">
                Classification:
            </label>
            <div id="slider-classification" class="my-2 mr-3" data-min="0" data-max="1" data-step="0.1" data-init="{{model_data.config.classify_conf_threshold}}">
                <div class="ui-slider-handle custom-handle"></div>
            </div>

            <label class="form-check-label text-dark" for="slider-count">
                Counting:
            </label>
            <div id="slider-count" class="my-2 mr-3" data-min="0" data-max="1" data-step="0.1" data-init="{{model_data.config.count_conf_threshold}}">
                <div class="ui-slider-handle custom-handle"></div>
            </div>

            <hr class="my-12"/>
            <div class="font-weight-bold text-dark">Threshold:</div>

            <label class="form-check-label text-dark" for="slider-range-count">
                Density:
            </label>
            <div id="slider-range-count" class="my-2 mr-3" data-min="0" data-max="50" data-step="1" data-init="{{model_data.config.count_thresholds}}">
                <div class="ui-slider-handle custom-handle left"></div>
                <div class="ui-slider-handle custom-handle right"></div>
            </div>

            <label class="form-check-label text-dark" for="slider-range-crowd">
                Moving rate:
            </label>
            <div id="slider-range-crowd" class="my-2 mr-3" data-min="0" data-max="50" data-step="1" data-init="{{model_data.config.crowd_thresholds}}">
                <div class="ui-slider-handle custom-handle left"></div>
                <div class="ui-slider-handle custom-handle right"></div>
            </div>

            <div id="loading-model">
                <div class="d-flex align-items-center mt-4">
                    <div class="spinner-border mr-1" style="width: 1.2rem; height: 1.2rem;" role="status">
                      <span class="sr-only">Loading...</span>
                    </div> <span> Changing model...</span>
                </div>
            </div>

        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="../static/js/canvas_drawer.js"></script>
<script src="../static/js/player.js"></script>
<script src="../static/js/control_panel.js"></script>
<script src="../static/js/main.js"></script>

<!--        <script src="{{ url_for('static', filename='js/main.js') }}"></script>-->
</body>
</html>
